<mat-toolbar>
  <h1>{{title}}</h1>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<div id="content">
  <div id="left" class="column">

    <ul class="navigationlinks">
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['']">Home</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['dots']">Dots</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['circular-wipe']">Circular Wipe</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['enter-leave']">Enter/Leave</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['query']">Query</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['stagger']">Stagger</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['group']">Group</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['css-variables']">CSS Variables</a>
      </li>
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['template-ref']">Template Ref</a>
      </li>

      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['chat-scroll']">Chat Scroll</a>
      </li>

    </ul>
  </div>



  <div id="right" class="column">
    <router-outlet></router-outlet>
  </div>

</div>

<!--

<img width="300" alt="Angular Logo"
  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  -->
<!--
<div>

  Dots
  <div class="dots">
    <dots></dots>
  </div>

 


  <svg viewBox="0 0 250 250">
    <polygon class="red"
      points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" />
    <polygon class="red"
      points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" />
    <path class="red" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
        L125,52.1z M142,135.4H108l17-40.9L142,135.4z" />
  </svg>

  <hr>


  <svg viewBox="0 0 250 250" (mousemove)="setCircleLocation($event)">
    <svg:defs>
      <svg:clipPath id="clip">
        <svg:circle [attr.cx]="circle[0]" [attr.cy]="circle[1]" r="100" />
      </svg:clipPath>
    </svg:defs>
    <svg:g clip-path="url(#clip)">
      <svg:polygon points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" />
      <svg:polygon
        points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30" />
      <svg:path d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
   L125,52.1z M142,135.4H108l17-40.9L142,135.4z" />
    </svg:g>
  </svg>

  <hr>

  <svg viewBox="0 0 250 250">
    <svg:g class="group">
      <svg:polygon class="shield"
        points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2" />
      <svg:path class="a" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
        L125,52.1z M142,135.4H108l17-40.9L142,135.4z" />
    </svg:g>
  </svg>

  <hr>



</div>
  --->